<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CP project</title>
    <link rel="icon" href="/static/img.jpg" type="image/x-icon" >
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Student Management System</h1>        
        <img src="/static/Netaji_Subhas_University_of_Technology.svg.png" alt="Logo" style="width: 120px; height: 120px;border-radius: 10px; border:2px solid black;background: white;">        
    </header>
    <div class="content-wrapper">
        <div class="intro">
            <h2>About:</h2>
            <p1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis ab quibusdam nostrum blanditiis veritatis tempore dolores, iure facere tempora perspiciatis, praesentium nulla possimus officia beatae voluptate. Fuga laboriosam dignissimos quas?</p1>
        </div>
        <div class="container">
            <h2>Actions:</h2>
            <p>Welcome to the Student Management System! Here you can manage student records, including adding, updating, and deleting student information.</p>
            <ul>
                <li><a href="/add_student">Add Student</a></li>
                <li><a href="/view_students">View Students</a></li>
                <li><a href="/update_student">Update Student</a></li>
                <li><a href="/delete_student">Delete Student</a></li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <h2>Action view:</h2>
    </div>
</body>
</html>